@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e8f3f9;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #e8f3f9;
}

body::-webkit-scrollbar {
  display: none;
}
